{% extends "App/base.html" %}
{% block body %}


        <form action="/login/" method="POST">
            {% if messages %}
            {% for message in messages %}

            {{ message }}
            {% endfor %}
            {%endif%}
            {% csrf_token %}

            {{form.as_p}}

            <div class="d-flex justify-content-center">
                <span>{{request.user.users}}</span>
                <button type="submit" class="btn btn-success">login</button>
            </div>
            </form>
    
{% endblock body %}